<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.berlin.library.dao.mapper.book.BookClassMapper">

    <!--column不做限制，可以为任意表的字段，而property须为type 定义的pojo属性-->
    <resultMap id="BookClassDTO" type="com.berlin.library.api.model.book.BookClassDTO">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="tmp1" property="tmp1"/>
        <result column="tmp2" property="tmp2"/>
        <result column="create_date" property="creatDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="valid_flag" property="validFlag"/>
    </resultMap>

    <sql id="base_column_list">
        id,name,tmp1,tmp2,create_date,update_date,valid_flag
    </sql>

    <select id="findListByName" resultMap="BookClassDTO">
        SELECT
        <include refid="base_column_list" />
        FROM book_class where name like concat('%',#{name},'%')
        and valid_flag = 'ENABLE'
    </select>

    <select id="findById" resultMap="BookClassDTO">
        SELECT
        <include refid="base_column_list" />
        FROM book_class where id = #{id}
        and valid_flag = 'ENABLE'
    </select>

    <insert id="insertBookClassDTO">
        insert into book_class(name,valid_flag) values (#{name}, #{validFlag})
    </insert>

    <update id="updateBookClassDTO">
        update book_class set name = #{name} where id = #{id}
    </update>

    <delete id="deleteBookClassDTO">
        update book_class set valid_flag = "DISABLE" where id = #{id}
    </delete>
</mapper>